<!DOCTYPE html>
<html>
<head>
	<title>TodoList</title>
</head>
<body>
	<h1>TodoList</h1>
	<form action="/index" method="post">
		<label>Nouvelle tâche :</label>
		<input type="text" name="task">
		<button type="submit">Ajouter</button>
	</form>
	<table>
	{% for task in tasks %}
		<tr>
			<td>{{task.tasks}}</td>
			<td>
				<form action="/delete" method="post">
					<input type="hidden" name="id" value="{{task.id}}">
					<button type="submit">Delete</button>
				</form>
			</td>
		</tr>
	{% endfor %}
	</table>
</body>
</html>
